.section-heading {
    border-bottom: 1px solid #9ab;
    text-align: left;
    color: #9ab;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .075em;
    line-height: 5/4;
    margin-bottom: .76923077rem;
    margin-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
  }



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: secondary;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 60%;
    padding: 0 10px 0 10px;
}

.input-group label {
    margin-bottom: 6px;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
}

.input-group.full-width {
    width: 100%;
}

.form-container {
    background-color: #5c5470;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form {
    width: 100%;
}
